
.aboutBlockText{
    border: rgb(46, 46, 46) solid 1px;
    border-radius: 8px;
    padding: 5rem 3rem 5rem 3rem;
    line-height: 1.5;
    width: 50rem;
    margin: 0 auto;
}

.alignLeft{
    text-align: left;
}

.purpleBorder{
    border: 6px solid #6e1fa9;
}

.greenBorder{
    border: 6px solid #00aa80;
}

.block{
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.blockTitle{
    font-size: 5rem;
}