
.aboutBlockText{
    border: rgb(46, 46, 46) solid 1px;
    border-radius: 8px;
    padding: 5rem 3rem 5rem 3rem;
    line-height: 1.5;
    width: 50rem;
    margin: 0 auto;
}

.alignLeft{
    text-align: left;
}

.purpleBorder{
    border: 6px solid #84dcff;
}

.greenBorder{
    border: 6px solid #84dcff;
}

.block{
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-color: white;
    width: 70vw;
}

.blockTitle{
    font-size: 5rem;
}

.projDiv{
    display: flex;
    flex-direction: column; /* Stack inner divs vertically */
    align-items: center; /* Center inner divs horizontally */
    text-align: center;
    height: 100%; /* Full viewport height */
    width: 100%; /* Full viewport width */
}