.home{
  margin-top: 15rem;
}

.home h1{
    font-size: 5rem;
    margin-left: -5rem;
  }
  
  .arrow{
    height: 4rem;
    width: 2rem;
  }
  
  Button:hover .arrow{
    content: url('Images/ArrowWhite.png');
  }
  
  .aboutButton{
    color:rgb(46, 46, 46);
    background-color: white;
    width: 25rem;
    height: 6rem;
    font-family: Ubuntu;
    font-size: 3rem;
    border: #00aa80 solid;
    margin-top: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5rem;
  }

  .aboutButtonLink{
    text-decoration: none;
    display:inline-block;
  }

  .center{
    text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  }
  
  
  button:hover{
    background-color: rgb(46, 46, 46);
    color:white;
    cursor: pointer;
  }