.home{
  margin-top: 15rem;
}

.home h1{
    font-size: 5rem;
    margin-left: -5rem;
  }
  
  .arrow{
    height: 4rem;
    width: 2rem;
  }
  
  Button:hover .arrow{
    content: url('Images/ArrowWhite.png');
  }

  .center{
    text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  }
  
  
  button:hover{
    background-color: rgb(46, 46, 46);
    color:white;
    cursor: pointer;
  }