* {
  font-family: Ubuntu;
  margin:0;
}
html {
  font-size: 13px;
  min-height: 100%;
}

.aboutButton{
  color:rgb(46, 46, 46);
  background-color: white;
  width: 25rem;
  height: 6rem;
  font-family: Ubuntu;
  font-size: 3rem;
  border: #00aa80 solid;
  margin-top: 0px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1100px) {
  html {
      font-size: 6px;
  }

  .aboutButton{
    font-size: .5rem;
  }
}

.inline{
  width: 100%;
  position: relative;
}

.descriptionText{
  font-size: 1.3rem;
}

html{
  overflow-y: scroll;
}

.greenText{
  color: #00aa80;
  font-weight: bold;
}

.purpleText{
  color:#6e1fa9;
  font-weight: bold;
}

.robotPic{
  height: 19.3rem;
  width: 30rem;
  margin: 0;
}

.circlePic{
  height: 20rem;
  width: 20rem;
  margin: 0;
}

.gamePic{
  height: 15rem;
  width: 30rem;
  margin: 0;
}

.projects{
  font-size: 3rem;
  color: black;
  align-items: center;
}

.jobTitle{
  font-size: 2rem;
}

.intro{
  margin-left: -20rem;
}

.contact{
  font-size: 3rem;
  color: black;
  align-items: center;
}

.noSelection{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}